body {
    font-family: verdana;
    text-align: center;
}

#roll{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

#lable{
    font-size: 3em;
}
#lable2{
    font-size: 3em;
}
#lable3{
    font-size: 3em;
}